//
//  Config.xcconfig
//  desafio
//
//  Created by Andre Dias on 17/07/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_KEY = b7e14bab409c70a5c4e7c2b319c09d7b
TIMESTAMP =  1682982412
HASH_KEY = 3482f01e9bf207a437a4b621c91339ad
BASE_URL = gateway.marvel.com
